<div class="eachItem">
  <div class="row">
    <div class="col-xs-12">   
      <a class="close" (click)="onClothFullList()"></a>
      <img
      [src]="cloth.imagePath" style="width: 100%;"
      alt="{{ cloth.name }}"
      class="img-responsive"> 
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ cloth.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      
      {{ cloth.description }}  
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Amount in the stock: {{ cloth.amount }} </p>   
    </div>
  </div>
 </div>  


  

    



