<div class="col-xs-12">
    <div class="float-sm-right">
        <form>
           
            <mat-form-field appearance="fill">
            <mat-label>cloth type</mat-label>
            <select matNativeControl [(ngModel)]="selectedCloth" name="cloth">
                <option value="" selected></option>
                <option *ngFor="let cloth of clothes" [value]="cloth.value">
                    
                {{cloth.viewValue}}
                </option>
            </select>
            </mat-form-field>
            <p> Selected cloth: {{selectedCloth}} </p>
       
            
            
        </form>
        <router-outlet></router-outlet>
        <button  (click)="onClothes()">just a try</button>
       
        <li routerLinkActive="active"><a routerLink="/clothes-list">{{selectedCloth}}</a></li>
    </div>
</div>
