
body { 
    background-color: antiquewhite;
    /* background: url("https://cdn.pixabay.com/photo/2017/01/28/02/24/japan-2014618__340.jpg")   no-repeat center/cover fixed; */
    /* background-size: cover; */
    
    position:absolute; 
    height:100%; 
    width:100%;
    min-height: 100vh;
}
